{
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": "4"
            }
        ],
        "no-console": "off"
    },
    "env": {
        "jest": true
    }
}