.idea
.vscode
.DS_Store
.npm
.env
npm-debug.log
node_modules
coverage
examples/component/report
examples/component/tests/screenshots/**/*-diff.png
examples/component/tests/screenshots/**/*-current.png
examples/e2e/todomvc-react
examples/e2e/report
examples/e2e/tests/screenshots/**/*-diff.png
examples/e2e/tests/screenshots/**/*-current.png