.idea
.vscode
.DS_Store
.npm
.env
npm-debug.log
node_modules
examples/unit/report
examples/unit/tests/screenshots/**/*-diff.png
examples/unit/tests/screenshots/**/*-current.png
examples/e2e/todomvc-react
examples/e2e/report
examples/e2e/tests/screenshots/**/*-diff.png
examples/e2e/tests/screenshots/**/*-current.png